{% if msg %}
<script>
    alert({ msg });
</script>
{% endif %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <form action="postsign" method="POST">
        {% csrf_token %}
        Email:
        <input type="email" name="email">
        Password:
        <input type="password" name="pass">
        <input type="submit" value="sign in">
    </form>
</body>
</html>