<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    
    Welcome {{e}}
    <form action="save" method="POST">
        {% csrf_token %}
    <input type="text" name="memo" value="add your list here">
    <input type="submit" value="submit">
    </form>
    <ul></ul>
</body>
</html>